[submodule "vision"]
	path = vision
	url = https://github.com/masato-ka/vision
	branch = fully_conv_resnet
[submodule "synchronized_batchnorm"]
	path = synchronized_batchnorm
	url = git@github.com:masato-ka/Synchronized-BatchNorm-PyTorch.git
